<!DOCTYPE html>
<html>
  <head>
    <title>Dan Hackner's Personal Site</title>
  </head>
  <body>
    <div class="main-content">
      <span>
        Site under construction. Check back soon!
      </span>
    </div>
    <div class="right-gutter">
      <div class="nav">
        <ul>
          <li><a href="http://adioso-mockup.danhackner.com">Current experimental Adioso results page prototype (based on image by @wernah)</a></li>
          <li>Lead author of <a href="http://dl.acm.org/citation.cfm?id=1370207">GUITAR AMP</a> (freely available on: <a href="http://www.cs.umd.edu/~atif/papers/HacknerMemonICSE2008-abstract.html">Professor Memon's page</a>)</li>
          <li><a href="http://www.twitter.com/drh">Twitter</a></li>
        </ul>
      </div>
      <div class="badges">
        <div class='angellist_embed' data-user_id='84967'></div><script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script><script type='text/javascript' src='https://angel.co/daniel-hackner/embed/angellist.js'></script>
      </div>
      <div class="gutter-footer">
        by: Daniel Hackner
      </div>
    </div>
  </body>
</html>
