<title>Dan Hackner's Personal Site</title>
<div class="main-content">
  <span>
    Site under construction. Check back soon!
  </span>
</div>
<span>Some projects I've worked on:</span>
<div class="portfolio-snapshots">
  <div>
    <%= link_to image_tag("adioso_prototype_preview.png"), "http://adioso-mockup.danhackner.com" %><br />Adioso results page prototype (based on image by @wernah)
  </div>
  <div>
    <%= link_to image_tag("HacknerMemon_preview.png"), :show_hacknermemonicse2008 %><br />Lead Author of GUITAR AMP
  </div>
</div>
<div class="footer">
  <div class="badges">
    <div class="twitter">
      <span> You should follow me on twitter </span>
      <a href="https://twitter.com/drh" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @drh</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class='angellist_embed' data-user_id='84967'></div><script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script><script type='text/javascript' src='https://angel.co/daniel-hackner/embed/angellist.js'></script>
  </div>
</div>
</body>
</html>
