<!DOCTYPE html>
<html>
<head>
<title>Dan Hackner's Personal Site</title>
</head>
<body>
<div class="main-content">
  <span>
    Site under construction. Check back soon!
  </span>
</div>
<div class="right-gutter">
  <div class="nav">
    <a href="http://adioso-mockup.danhackner.com">Current experimental Adioso results page prototype (based on image by @wernah)</a>
    <br />
    Lead author of <%= link_to "GUITAR AMP", :show_hacknermemonicse2008 %>
    <br />
    <a href="https://twitter.com/drh" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @drh</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="badges">
    <div class='angellist_embed' data-user_id='84967'></div><script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script><script type='text/javascript' src='https://angel.co/daniel-hackner/embed/angellist.js'></script>
  </div>
  <div class="gutter-footer">
    by: Daniel Hackner
  </div>
</div>
</body>
</html>
