/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "sassy-buttons";
@import "susy";

$grey                         : #f4f4f4;
$dark-grey                    : #e5e5e5;
$darker-grey                  : #7f7f7f;
$blackish-grey                : #585858;
$light-blue                   : #00ACEE;
$base-font                    : 500 16px/20px "Helvetica Neue", sans-serif;
$medium-font                  : 200 23px/30px "Helvetica Neue", sans-serif;
$big-font                     : 200 33px/40px "Helvetica Neue", sans-serif;

$total-columns                : 12;


body {
  background-color : $grey;
  @include container;
  @include border-box-sizing;
  //  @include susy-grid-background;
  font : $base-font;
}

.portfolio-snapshots {
  font-size:.75em;
  @include span-columns($total-columns omega, $total-columns, 1em);
  .portfolioitem {
    @include span-columns(6, $total-columns);
    @include nth-omega(last);
    @include border-radius(1em);
    padding : 2em;
    &:hover {background-color : $dark-grey;}
    img {
      @include border-radius(7px);
      border-color : $light-blue;
      border-style : solid;
      border-width : .2em;
    }
  }
}

.footer {
  background-color : $dark-grey;
  @include border-radius(1em);
  @include span-columns($total-columns omega, $total-columns, 1em);
  margin-top     : 3em;
  padding-top    : 1em;
  padding-bottom : 1em;

  .badges {
    $twitter-columns : 2;
    .twitter {
      @include span-columns($twitter-columns, $total-columns);
    }
    .angellist {
      background-color : $dark-grey;
      @include span-columns($total-columns - $twitter-columns, $total-columns);
    }
  }
}
